<.flash_group flash={@flash} />
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-20 w-auto" src="/images/logo-512x512.png" alt="The Banking Company" />
    <h2 class="mt-4 text-center text-2xl font-bold leading-9 tracking-tight text-white">
      The Banking Company
    </h2>
  </div>
</div>
